<p></p>
<div class="container">
  <div class="card card-primary">
    <div class="card-header bg-primary"><strong>Find Vehicle</strong></div>
    <div class="card card-body ">
      <div class="row">
        <div class="col-md-8">
          <img src="assets/logo.png" class="logo">
        </div>
        
        <div class="col-md-4">
          <form #f="ngForm" (ngSubmit)="getVehicle()"><br>
          <h4>Enter Vehicle ID</h4>
            <div class="input-group mb-3">
              <input equired name="id" ngModel type="text" class="form-control" placeholder="ex: 3201" [(ngModel)]="vehicleID" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button [disabled]="!f.valid" type="submit" class="btn btn-primary float-right"> Search </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <label *ngIf="!error" class="center" style="color:red;">NOT FOUND !!</label>
    <div *ngIf="vehicle!=null" class="card card-body ">
      <div class="row">
        
        <ul class="list-group col-md-3">
          <li class="list-group-item">Vehicle ID: </li>
          <li class="list-group-item">Segment Code:</li>
          <li class="list-group-item">Energy Type: </li>
          <li class="list-group-item">Color: </li>
          <li class="list-group-item">Fiscal Power: </li>
        </ul>
        <ul class="list-group col-md-3">
          <li class="list-group-item"><span class="badge badge-info">{{vehicle.vehicle_id}}</span></li>
          <li class="list-group-item"><strong>{{vehicle.vehicle_segment_code}}</strong></li>
          <li class="list-group-item"><strong>{{vehicle.vehicle_energy_type_code}}</strong></li>
          <li class="list-group-item"><strong>{{vehicle.vehicle_color}}</strong></li>
          <li class="list-group-item"><strong>{{vehicle.vehicle_fiscal_power}}</strong></li>          
        </ul>
        <img src="https://loremflickr.com/320/320/cars?random={{vehicle.vehicle_id}}" class="logo col-md-3">
        <img src="https://loremflickr.com/320/320/cars?random={{vehicle.vehicle_id+1}}" class="logo col-md-3">
      </div>
      
    </div>
  </div>
</div>

